<div class='container-fluid'>
	<div class='row-fluid'>
		<div class ='span3' ng-controller="TagCtrl">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Tags</li>
					<div>
						<ul>
							<li ng-repeat="roottag in data.tags" x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl, roottag)">
							
								<span ng-click="filterbytag(roottag.id)" ng-class="(data.filterbytagid.tags.indexOf(roottag.id)!=-1) ? 'selected' : ''">{{roottag.title}}</span>										
								<ul>
									<li ng-repeat="tag in roottag.children" x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl, tag)">									
									   <span ng-click="filterbytag(tag.id)" ng-class="(data.filterbytagid.tags.indexOf(tag.id)!=-1) ? 'selected' : ''">{{tag.title}}</span>	
									</li>
								</ul>	
							</li>
						</ul>
					</div>
				</ul>
			</div>
		</div>
		<div class ='span9' ng-controller="TodoCtrl">
		    
			<div class='hero-unit' ng-repeat="todo in data.notes | filter: filternotes" x-lvl-draggable="true" data-todo="{{todo.id}}">
				<p class='text-right'><a class="close" href="#" ng-click="removenote(todo)">&times;</a></p>
				<a href='#/todos/{{todo.id}}'><h2>{{todo.title}}</h2></a>
				<p> {{todo.content}}</p>							
				<p class='text-left'>
				    <span ng-repeat="id in todo.tags" class="label">{{data.getTagById(id).title}}&nbsp;<a class="close" href="#" ng-click="removetag(todo, data.getTagById(id))">&times;</a></span>  
				</p>	
			</div>
		</div>
		<hr>
		
	</div>
</div>	
