<div class='container-fluid'>
	<div class='row-fluid'>
		<div class ='span3' ng-controller="TagCtrl">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Sidebar {{filterbytagid}}</li>
					<div>
						<ul>
							<li ng-repeat="roottag in data.tags" x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl, roottag)">
							
								<a href="" ng-click="filterbytag(roottag.id)">{{roottag.title}}</a>								
								<ul>
									<li ng-repeat="tag in roottag.children">									
									   <a href="" ng-click="filterbytag(tag.id)">{{tag.title}}</a>	
									</li>
								</ul>	
							</li>
						</ul>
					</div>
				</ul>
			</div>
		</div>
		<div class ='span9' ng-controller="TodoCtrl">
		    
			<div class='hero-unit' ng-repeat="todo in data.notes | filter: data.filterbytagid" x-lvl-draggable="true" data-todo="{{todo.id}}">
				<a href='#/todos/{{todo.id}}'><h2>{{todo.title}}</h2></a>
				<p> {{todo.content}}</p>							
				<p class='text-left'>tags: 
					<span ng-repeat="id in todo.tags">{{data.getTagById(id).title}}, </span>
				</p>	
			</div>
		</div>
		<hr>
		
	</div>
</div>	
