
<div class='container-fluid'>
    <!-- Show tree of tags -->
	<div class='row-fluid'>
		<div class ='span3' ng-controller="TagCtrl">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Tags</li>
					<div>
						<ul>
							<li ng-repeat="roottag in dataService.tags" x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl, roottag)">
							
								<span ng-click="filterbytag(roottag.id)" ng-class="(dataService.filterbytagid.tags.indexOf(roottag.id)!=-1) ? 'selected' : ''">{{roottag.title}}</span>										
								<ul>
									<li ng-repeat="tag in roottag.children" x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl, tag)">									
									   <span ng-click="filterbytag(tag.id)" ng-class="(dataService.filterbytagid.tags.indexOf(tag.id)!=-1) ? 'selected' : ''">{{tag.title}}</span>	
									</li>
								</ul>	
							</li>
						</ul>
					</div>
				</ul>
			</div>
		</div>
		<!-- Show filtered list of notes -->
		<div class ='span9' ng-controller="NoteCtrl">
		    
			<div class='hero-unit' ng-repeat="note in dataService.notes | filter: filternotes" x-lvl-draggable="true" data-todo="{{note.id}}">
				<p class='text-right'><a class="close" href="#" ng-click="removenote(note)">&times;</a></p>
				<a href='#/todos/{{note.id}}'><h2>{{note.title}}</h2></a>						
				<p class='text-left'>
				    <span ng-repeat="tagId in note.tags" class="label">{{dataService.getTagById(tagId).title}}&nbsp;<a class="close" href="#" ng-click="removetag(note, dataService.getTagById(tagId))">&times;</a></span>  
				</p>	
			</div>
		</div>
		<hr>
	</div>
</div>	
