<!doctype html>
<html ng-app="noteApp" lang="en">
<head>
	<title>YourNote</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		body {
			padding-top: 60px;
			padding-bottom: 40px;
		}
		.sidbar-nav {
			padding: 9px 0;
		}
		
		@media (max-width: 980px) {
			.navbar-text.pull-right {
				float:none;
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	</style>
	
	<link href="css/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="css/yournote.css" rel="stylesheet">
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">

	<script src="lib/angularjs/angular.js"></script>
	<script src="lib/angularjs/angular-route.js"></script>
	<script src="lib/angularjs/angular-cookies.min.js"></script>
	<script src="lib/angularjs/angular-sanitize.min.js"></script>
	<script src="lib/textAngular.min.js"></script>
	<script src="lib/vl-drag-drop.js"></script>
	<script src="lib/uuidService.js"></script>
	<script src="lib/angular-local-storage.js"></script>
	<script src="lib/jquery/jquery-2.0.3.js"></script>
	<script src="css/bootstrap/js/bootstrap.js"></script>

	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/services.js"></script>
</head>
<body>
<div class='navbar navbar-inverse navbar-fixed-top'>
	<div class='navbar-inner'>
		<div class='container-fluid'>
			<button class="btn btn-navbar collapsed" data-target=".nav-collapse" data-toggle="collapse" type="button">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class='brand' href='#'>YourNote</a>
			<div class="nav-collapse collapse">
				<ul class="nav" ng-controller="NoteCtrl">
					<li class="active">	
						<a href="#">Home</a>	
					</li>
					<li>
						<a href="#" ng-click="loadNotesFromStorage()">Load Notes</a>
					</li>
					<li>
						<a href="#" ng-click="saveNotesToStorage()">Save Notes</a>
					</li>
					<li>
						<a href="#/todos/add">Add</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>	

  <div class="view-container">
    <div ng-view class="view-frame"></div>
  </div>

</body>
</html>
